aside {
    height: 100%;
    position: relative;
}

#translation-notes-scroll-container {
    position: fixed;
    overflow-y: scroll;
    height: 60vh;
    bottom: 3rem;
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 15px black;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    text-align: center;
    margin: 0;
    border: 1px solid var(--accent-color);
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
}

th,
td {
    padding: 0.5rem;
}

tbody td span {
    font-size: small;
}

tbody tr:nth-child(odd) {
    background-color: transparent;
}

.empty-translation-notes {
    font-style: italic;
    font-size: smaller;
}