aside {
    width: 20rem;
}

#translation-notes-scroll-container {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1rem;
    border-inline-start: 1px solid var(--accent-color);
    /* border-radius: 4px; */
    width: 20rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    text-align: center;
    margin: 0;
    border: 1px solid var(--accent-color);
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
}

th,
td {
    padding: 0.5rem;
}

tbody td span {
    font-size: small;
}

tbody tr:nth-child(odd) {
    background-color: transparent;
}

.empty-translation-notes {
    font-style: italic;
    font-size: smaller;
}