a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--accent-color);
}

#new-game-link {
    font-size: large;
    text-align: center;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    padding: 1rem;
    margin-top: 2rem;
    padding-inline: 3rem;
}

#new-game-link:hover {
    background-color: hsla(42, 100%, 62%, 0.2);
}

#new-game-link::before {
    content: "🎲 ";
}

#new-game-link-wrapper {
    display: flex;
    justify-content: center;
}

ul.option-fields {
    list-style-type: none;
    padding: 0;
}

.options-section {
    width: 100%;
}

.form-field {
    font-size: 1.25rem;
    margin-block: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

.form-field>label {
    grid-column: 1/2;
}

.form-field>input {
    grid-column: 2/3;
}


.checkbox-wrapper {
    display: flex;
    /* justify-content: space-between; */
}

.checkbox-wrapper p {
    margin-top: 0rem;
}

.script-note {
    font-size: small;
    /* color: var(--accent-color); */
}

.script-checkbox {
    margin-right: 1rem;
    /* margin-bottom: 1rem;
    padding-right: 1rem;
    border-right: 2px solid var(--heading-color); */
}