#main-aside-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

main {
    width: 100%;
}

#section-examples,
#section-questions {
    border: 1px solid var(--accent-color);
    border-radius: 3px;
    margin-block: 1em;
}

.example-wrapper {
    padding-inline-start: 1em;
    padding-block: 1em;

    display: flex;
    gap: 1rem;
}

.example-wrapper>h2 {
    padding-right: 1.5rem;
    margin-right: 0.75rem;
    border-right: 3px solid var(--heading-color);
}

.sentence {

    margin: 0;
    line-height: 4em;
}

.english,
input[type="text"].english {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 1.25rem;
}

.scramblish,
input[type="text"].scramblish {
    /* font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal; */

    /* font-family: "Roboto Slab", serif;
    font-optical-sizing: auto; */
    /* 100-900 */
    /* font-weight: 500;
    font-style: normal;  */

    font-family: Helvetica, Arial, sans-serif;

    font-size: 1.2rem;
}

.word:hover {
    cursor: pointer;
}

input[type="text"].blank {
    margin-inline: 0.75ch;
}

.word-hovered>.word-text {
    text-decoration: underline;
    text-decoration-style: dotted;
    --glow: rgba(255, 243, 105, 0.1);
    background: var(--glow);
    box-shadow: 0 0 10px 0.5rem var(--glow);
    border-radius: 100%;
}

.word-marked {
    text-decoration: underline;
}

.word-to-be-linked {
    color: hsl(214, 100%, 76%);
    text-decoration: underline;
    text-decoration-style: double;
}

.word-linked {
    position: relative;
    display: inline-block;
}

.linked-word-note {
    font-size: xx-small;
    font-family: monospace;
    font-weight: bolder;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    /* disable selecting/highlighting with mouse */
    user-select: none;
}

.word-wrapper:nth-child(odd of .word-wrapper-linked) .linked-word-note {
    top: 40%;
}

.word-wrapper:nth-child(even of .word-wrapper-linked) .linked-word-note {
    bottom: 35%;
}

.linked-word-note::before {
    content: "⋮";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    --shift: -1.15em;
    /* disable selecting/highlighting with mouse */
    user-select: none;
}

.word-wrapper:nth-child(even of .word-wrapper-linked) .linked-word-note::before {
    bottom: var(--shift);
}

.word-wrapper:nth-child(odd of .word-wrapper-linked) .linked-word-note::before {
    top: var(--shift);
}

#play-page-controls {
    display: flex;
    gap: 1rem;
}

.word-count {
    font-size: x-small;
    position: relative;
    bottom: -0.65em;
    padding: 0.05ch;
    color: rgba(255, 212, 84, 0.5);
    font-family: sans-serif;
    /* disable selecting/highlighting with mouse */
    user-select: none;
}

span.hapax-legomenon {
    text-decoration-style: wavy;
    text-decoration-thickness: 2%;
    text-decoration-color: orange;
}

#add-example-btn-wrapper,
#add-question-btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
}