#section-examples,
#section-questions {
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    margin-block: 1em;
}

.example-wrapper {
    padding: 1em;

    display: flex;
    gap: 1rem;
}

.example-wrapper>h2 {
    padding-right: 1.5rem;
    margin-right: 0.75rem;
    border-right: 3px solid var(--heading-color);
}

.word-count,
.sentence {
    /* disable selecting/highlighting with mouse */
    user-select: none;
}

.english,
input[type="text"].english {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 1.25rem;
}

.scramblish,
input[type="text"].scramblish {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.2rem;
}

.word:hover {
    cursor: pointer;
}

input[type="text"].blank {
    margin-inline: 0.75ch;
}

.word-hovered {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.word-marked {
    text-decoration: underline;
}

.word-to-be-linked {
    color: hsl(214, 100%, 76%);
    text-decoration: underline;
    text-decoration-style: double;
}

.word-linked {
    position: relative;
    display: inline-block;
}

.linked-word-note {
    font-size: x-small;
    font-family: monospace;
    font-weight: bolder;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#play-page-controls {
    display: flex;
    gap: 1rem;
}

.word-count {
    font-size: x-small;
    position: relative;
    bottom: -0.65em;
    padding: 0.05ch;
    color: rgba(255, 212, 84, 0.5);
    font-family: sans-serif;
}