body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-color: rgb(60, 57, 53);
  --text-color: rgb(250, 222, 200);
  --accent-color: #ffd745;
  --heading-color: #ffa763;
  --english-word-color: #fe6c28;
  --scramblish-word-color: #f3fe28;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color)
}

button {
  transition: all 0.10s;
  background-color: rgba(from var(--heading-color) r g b / 0.05);
  color: var(--heading-color);
  border: 1px solid var(--heading-color);
  border-radius: 3px;
  padding: 0.5em 1em;
  font-size: smaller;
  font-variant: small-caps;
  cursor: pointer;
}

button:hover {
  background-color: rgba(from var(--heading-color) r g b / 0.2);
}

input[type="text"] {
  text-align: center;
}

input[type="text"],
input[type="number"] {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--accent-color);
  border-radius: 3px;
  padding: 0.25em 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variant: small-caps;
  color: var(--heading-color);
}

.patua-one-regular {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
}

/* * { */
/* Bad idea? */
/* transition: all 0.15s; */
/* } */

nav a {
  font-variant: small-caps;
  font-size: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: 2px solid var(--accent-color);
}

footer {
  border-top: 2px solid var(--accent-color);
  margin-top: 3rem;
  padding: 1rem;
}